@use "../../scss/variables.scss" as v;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  padding: 1em;
  width: 70%;

  & p {
    margin: 0;
  }
}

.book {
  border: 2px solid v.$form-bg;
  background-color: v.$input-bg;
  border-radius: 8px;
  padding: 0.5em;
  transition: all ease-in-out 0.2s;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
  min-height: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 0.4em;

  &:hover {
    cursor: pointer;
    background-color: v.$root-bg;
    transform: scale(1.05);
    border: 2px solid v.$btn-border;
  }

  &:active {
    transform: scale(1);
  }
}

.title {
  font-weight: 600;
}

.author {
  font-size: 0.9em;
}

.img {
  height: 155px;
  width: 120px;
  border-radius: 8px;
  margin-bottom: 0.5em;
}
